.Scrubber_container__3L_cd {
    height: 100%;
    width: 4px;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #f7a9a9
}

.Scrubber_handle___oqjK {
    position: absolute;
    top: -10px;
    width: 12px;
    height: 20px;
    background: red;
    left: -4px
}